body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    padding: 0em;
    margin-top: 2px;
    width: 100%;
    position: fixed;
    background-color: rgb(4, 250, 250);
    z-index: 1;
    opacity: 1;
}

nav:hover{
    opacity: 1;
}

nav>ul{
    list-style:none;
    display:inline-flex;
    float: right;
    margin-right: 0em;
    margin-left: 5em;
}

nav>ul>li{
    padding-left: 2em;
    margin-right: 2em;
}

button{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-decoration:indigo;
    border:2em;
    height: 2em;
    width: 9em;
    border-radius: 0.5em;
    background-color: rgb(245, 149, 6);
    cursor: pointer;
}

button:hover{
    transition: all 0.3s;
    background-color: purple;
    color: pink;
}

button2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-decoration:rgb(3, 237, 245);
    border:2em;
    height: 2em;
    width: 10em;
    border-radius: 0.5em;
    background-color: rgb(245, 3, 3);
    cursor: pointer;
}

button2:hover{
    transition: all 0.3s;
    background-color: rgb(0, 128, 11);
    color: rgb(247, 6, 46);
}
.main_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35;
    font-display: center;
    color:black;
}

.left-section{
    width: 15em;
    padding: 0em 0em 0em 0em;
    display: block;
    float: left;
    margin-top: 5.5em; 
    height: 100%;
    position: fixed;
    background-color: rgb(248, 252, 6);
}

.left-section>ul{
    list-style: none;
    margin-top: 3em;
}

.left-section>ul>li{
    padding: 1em;
}

.right-section{
    width: 20em;
    padding: 3em 0em 0em 0em;
    height: 100%;
    position: fixed;
    margin-left: 79em;
    margin-top: 5.5em;
    opacity:1;
    background-color: rgb(231, 124, 226);
}

.right-section>ul{
    list-style: none;
    margin-right: 5em;
    
}

.right-section>ul>li{
    padding: 1em;
}
.main{
    margin-left: 16%;
    margin-right: 16%;
    padding-top: 66px;
    text-align: center;
}


.main_part1{
   background-image: url('./download.png'); 
   height: 700px;
   background-size: cover;
   background-repeat: no-repeat;
}
.main_part1 h1{
    font-size: 35px;
    color: white;
    padding: 10px;

    text-transform: capitalize;
}

form{
    padding: 100px;
}

.box h1{
            color: black;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 5px;

        }
        .box input[type="text"],
        .box input[type="password"]
        {
            border: 0;
            background: none;
            display:block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: .25s;

        }
        .box input[type="text"]:focus,
        .box input[type="password"]:focus {
            width: 280px;
            border-color: #2ecc71;
        }
        .box input[type="submit"]{
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: .25s;
            cursor:pointer;

        }
        .box input[type="text"]:hover,
        .box input[type="password"]:hover{
            background-color: #2ecc;
        }

        .box input[type="submit"]:hover{
            background: #2ecc71;
        }

        form2{
            padding: 200px;
        }
        
        .box2 h1{
                    color: black;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 5px;
        
                }
                .box2 input[type="text"],
                .box2 input[type="password"]
                {
                    border: 0;
                    background: none;
                    display:block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    padding: 14px 10px;
                    width: 200px;
                    outline: none;
                    color: white;
                    border-radius: 24px;
                    transition: .25s;
        
                }
                .box2 input[type="text"]:focus,
                .box2 input[type="password"]:focus {
                    width: 280px;
                    border-color: #2ecc71;
                }
                .box2 input[type="submit"]{
                    border: 0;
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #2ecc71;
                    padding: 14px 40px;
                    width: 200px;
                    outline: none;
                    color: white;
                    border-radius: 24px;
                    transition: .25s;
                    cursor:pointer;
        
                }
                .box2 input[type="text"]:hover,
                .box2 input[type="password"]:hover{
                    background-color: #2ecc;
                }
        
                .box input[type="submit"]:hover{
                    background: #2ecc71;
                }



.main_footer2{

    background: black;
    color: white;
}